body {
    background-image: url(img/hotels.png);
}

.hotel-banner-content {
    display: block;
    margin: 30px auto 0 auto;
    width: fit-content;
    text-align: center;
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 500;
}

.hotel-banner-content h1 {
    color: #fff;
    font-size: 45px;
    text-shadow: 1px 1px 0px rgba(38, 35, 46, 0.25);
}

.hotel-banner-content h3 {
    color: #DFDFDF;
    text-shadow: 1px 1px 0px rgba(38, 35, 46, 0.25);
}

.hotel-form {
    position: relative;
    top: 200px;
    margin: auto;
    width: 60%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(39, 35, 46, 0.47);
    border-radius: 10px;
    padding: 20px;
}

.hotel-form .partnership {
    display: flex;
    width: fit-content;
}

.hotel-form .partnership img {
    width: 30px;
    height: auto;
}

.hotel-form .partnership p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: var(--font-color);
}

.hotel-form .partnership span {
    color: var(--primary-color-1);
}

.hotel-form form {
    width: 100%;
    display: block;
    position: relative;
}

.hotel-form .hotel-first-row, .hotel-form .hotel-second-row {
    display: flex;
}

.hotel-form .hotel-input-container {
    position: relative;
    margin: 20px 0;
}

.hotel-form input, .hotel-form select {
    width: 268px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(38, 35, 46, 0.3);
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 3px;
}

.hotel-form #rooms {
    margin-right: 0;
}

.hotel-form .hotel-label, .hotel-form .select-label {
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--font-color);
    position: absolute;
}

input:not(:focus):placeholder-shown + .hotel-label {
    pointer-events: none;
    top: 13px;
    left: 15px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

input:focus + .hotel-label,
input:not(:placeholder-shown) + .hotel-label {
    background-color: #fff;
    pointer-events: none;
    top: -10px;
    left: 15px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

input[type="date"], .hotel-select-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--font-color);
    font-size: 16px;
}

.hotel-select-label {
    background-color: #fff;
    position: absolute;
	pointer-events: none;
    top: -12px;
    left: 15px;
    font-size: 16px;
}

.search-hotel-btn {
	display: flex;
    height: 50px;
	align-items: center;
	white-space: nowrap;
    position: relative;
    top: 19px;
    left: 60px;
}

.search-hotel-btn-icon {
	width: 18px;
	height: auto;
	margin-right: 10px;
}

@media (max-width: 980px) {
    .hotel-form {
        width: 90%;
        margin: auto;
    }
}