:root {
	--primary-color-1: #1a3972;
	--primary-color-2: #d64045;
	--font-color: #26232e;
	--accent-color: #dfdfdf;
}

body {
	background-color: lightgray;
	width: 60%;
	margin: 20px auto;
}

.main {
	padding: 15px;
	font-family: "Poppins", sans-serif;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.col-md-4 {
	flex-basis: 25%;
	max-width: 25%;
}

.col-md-8 {
	flex-basis: 66.67%;
	max-width: 66.67%;
}

.content {
	order: 1;
}

.sidebar {
	order: 2;
	background-color: #1a3972;
	color: white;
	height: 100%;
	width: 100%;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
}

.content {
	background-color: whitesmoke;
}

.card-body {
	padding: 15px;
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card-body .personal-info-text {
	margin-left: 10px;
	margin-bottom: 15px;
	font-weight: 500;
	color: rgba(38, 35, 46, 0.45);
}
.card-body h1 {
	margin-left: 18px;
	margin-bottom: -5px;
	color: rgba(38, 35, 46, 1);
	font-weight: 500;
}

.info-row {
	margin-left: 20px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info-row h5 {
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-align: left;
}

.info-row .text-secondary {
	margin: 0;
	white-space: pre-wrap;
}

.personal-info-text {
	padding-left: 10px;
}

.card-body-1 {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.card-body-1 .profile-icon {
	width: 30px;
	height: auto;
}

.profile-info {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	padding-top: 20px;
}

.profile-info .icon-text {
	margin-left: 10px;
}

.info-label {
	min-width: 200px; /* adjust as needed */
}

/* edit button */

.editable-field {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edit-text {
	cursor: pointer;
	padding-left: 20px; /* Add space between text and button */
	/*  */
	color: rgba(26, 57, 114, 1);
	font-size: 15px;
	font-weight: 100;
	line-height: 15px;
	letter-spacing: 0.03em;
}

.text-secondary {
	margin-right: auto; /* push the edit button to the right */
}

.edit-text:hover {
	text-decoration: underline;
}

/* end */
/* rectangle */
.info-text-container {
	display: flex;
	align-items: center;
	background-color: rgba(38, 35, 46, 0.19);
	padding: 10px;
	width: 360px;
	box-sizing: border-box;
	margin-left: -50px;
	border-radius: 2px;
	box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.secondary-text {
	flex-grow: 1;
	margin-right: 10px;
}

.edit-text {
	cursor: pointer;
	color: #007bff;
	font-weight: bold;
}

/* end  */

.rounded-circle {
	border-radius: 50%; /* Add border-radius property with a value of 50% */
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.mt-3 h3 {
	font-size: 15px;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 0.03em;
	text-align: left;
	color: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 4px 0px rgba(38, 35, 46, 0.25);
}

/* back arrow */
.back-arrow {
	padding: 10px 10px 10px 10px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}

.back-arrow img {
	width: 25px;
	height: 22px;
	filter: invert(100%);
}
/* back arrow */

/* responsiveness */

@media (min-width: 1450px) {
	.info-text-container {
		width: 480px;
		padding: 10px;
		margin-left: 0px;
		margin-top: 15px;
	}
}

@media (max-width: 1450px) and (min-width: 1430px) {
	.info-text-container {
		padding: 10px;
		width: 470px;
		margin-left: 0px;
		margin-top: 15px;
	}
}

@media (max-width: 1430px) and (min-width: 1400px) {
	.info-text-container {
		width: 450px;
		padding: 10px;
		margin-left: 0px;
		margin-top: 15px;
	}
}

@media (max-width: 1400px) and (min-width: 1240px) {
	.info-text-container {
		padding: 10px;
		margin-left: 0px;
		margin-top: 15px;
		width: 420px;
	}
}

@media (max-width: 1240px) and (min-width: 1198px) {
	.info-text-container {
		padding: 10px;
		margin-left: 0px;
		margin-top: 15px;
		width: 410px;
	}
	.col-md-4 {
		display: none;
	}
}

@media (max-width: 1198px) and (min-width: 992px) {
	.info-text-container {
		padding: 10px;
		margin-left: 0px;
		margin-top: 15px;
		width: 360px;
	}
	.col-md-4 {
		display: none;
	}
}

@media (max-width: 992px) and (min-width: 768px) {
	.info-text-container {
		padding: 10px;
		margin-left: 0px;
		margin-top: 15px;
		width: 320px;
	}
	.col-md-4 {
		display: none;
	}
}

@media (max-width: 767px) and (min-width: 576px) {
	.info-text-container {
		padding: 10px;
		margin-left: 0px;
		margin-top: 15px;
		width: 240px;
	}
	.col-md-4 {
		display: none;
	}
}

@media (max-width: 575px) and (min-width: 480px) {
	.info-text-container {
		padding: 10px;
		margin-left: 0px;
		margin-top: 15px;
		width: 420px;
	}
	.col-md-4 {
		display: none;
	}
}

@media (max-width: 480px) and (min-width: 360px) {
	.info-text-container {
		padding: 10px;
		margin-left: 0px;
		margin-top: 15px;
		width: 360px;
	}
	.col-md-4 {
		display: none;
	}
}

@media (max-width: 360px) {
	.info-text-container {
		padding: 10px;
		margin-left: 0px;
		margin-top: 15px;
		width: 320px;
	}
	.col-md-4 {
		display: none;
	}
}
